*{
    margin: 0;
    padding: 0;
    display: auto;
    box-sizing: border-box;
}

header{
    background-image: url(img-3/jumbo.png);

}

.flex{
    display: flex;
}

.navbar{
    display: flex;
    justify-content: space-around;
   
}




.main_item{
   
    
}

.main_item_foot{
   
 
}

.foobar{
  
}

.foobar_item-container{
    
}

.foobar_item{
   
}

.foobar_end{
    
}
