*{
    margin: 0;
    padding: 0;
    display: auto;
    box-sizing: border-box;
}



header{
    background-image: url(img-3/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    
    

}

.flex{
    display: flex;
    margin: 0 auto;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.nav-logo{
    height: 60px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    width: 80%;
   
}

.login-button{
    padding: 15px; 
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    border-width: 0;
}

.nav-center{
    display: flex;
    gap: 5%;
}

.header-nav{
    justify-items: center;
    padding-block: 200px;
   
    h1{
        font-size: 5rem;
        padding-block: 50px;

    }

    p{
        font-size: 2.25rem;
        width: 50%;
        text-align: center;
        line-height:1.3;
    }

    .header-nav_button-group{
        justify-content: center;
        gap: 25px;
        padding-block: 20px;
        

        .header-nav_button{
            padding: 25px; 
            border-radius: 50px;
            font-size: 2rem;
            font-weight: 500;
            border-width: 0;

            &.button-right{
                color: white;
                background-color: #23272A;
            }
        }
    }

}


.basis-60{
    flex-basis: 60%;
}

.basis-40{
    flex-basis: 40%;
}


.main_item_foot{
    display: flex;
    flex-direction: column;
}

.foobar{
  
}

.foobar_item-container{
    
}

.foobar_item{
   
}

.foobar_end{
    
}
